
<footer class="d-flex justify-content-center text-dark fixed-bottom">
    <hr>
    <!-- <div> -->
        <p>Todos os direitos reservados</p>
    <!-- </div> --> 
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="/js/user.js" ></script> 