
<% if(Usuario?.Usertype == Usertype.FUNCIONARIO) {%>
  <div style="overflow: hidden; height: 100%;" class="bg-light col-2 d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white">
    <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        <span class="d-none d-sm-inline">Menu</span>
    </a>
    <ul style="height: 75%; overflow-y: auto; flex-flow: column nowrap;" class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
        <li>
            <a href="/Dashboard" class="nav-link px-0 align-middle">
                <i class="fs-4 bi-speedometer2"></i>
                <span class="ms-1 d-none d-sm-inline">Dashboard</span>
            </a>
        </li>
        <li>
            <a href="/Ordens" class="nav-link px-0 align-middle">
              <i class="fs-4 bi-table"></i>
              <span class="ms-1 d-none d-sm-inline">Ordens</span>
            </a>
        </li>
        <li>
          <a href="/Cardapio" class="nav-link px-0 align-middle">
            <i class="bi-food-menu"></i>
            <span class="ms-1 d-none d-sm-inline">Cardápio</span>
          </a>
      </li>
        <li>
            <a href="/Categorias" class="nav-link px-0 align-middle ">
                <i class="fs-4 bi-card-list"></i>
                <span class="ms-1 d-none d-sm-inline">Categorias</span>
            </a>
            
        </li>
        <li>
            <a href="/Produtos" class="nav-link px-0 align-middle">
                <i class="fs-4 bi-grid"></i>
                <span class="ms-1 d-none d-sm-inline">Produtos</span>
            </a>
            
        </li>
        <li>
            <a href="/Clientes" class="nav-link px-0 align-middle">
                <i class="fs-4 bi-people"></i> <span class="ms-1 d-none d-sm-inline">Clientes</span>
            </a>
        </li>
        <li>
            <a href="/Mesas" class="nav-link px-0 align-middle">
                <i class="bi-table-mesa"></i>
                <span class="ms-1 d-none d-sm-inline">Mesas</span>
            </a>
        </li>
    </ul>
    <hr>
    <div style="display: flex; height: 20%;" class="dropdown pb-4">
        <a href="#" style="white-space: unset;"  class="d-flex align-items-center text-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="/img/imagem_perfil_padrao.png" alt="hugenerd" width="30" height="30" class="rounded-circle">
            <div class="d-none d-sm-flex mx-1">
                <i><%= Usuario?.Nome  %></i>
            </div>
        </a>
        <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
            <!-- <li><a class="dropdown-item" href="#">Configurações</a></li> -->
            <li><a class="dropdown-item" href="#">Perfil</a></li>
            <li>
                <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="/Auth/Logout">Deslogar</a></li>
        </ul>
    </div>
  </div>
  <% } %>

