
    <h2>Bem vindo(a) <%= Usuario?.Nome %>!</h2>
    <form action="/Auth/Logout" method="post">
        <button type="submit" class="btn btn-danger" >Sair</button>
    </form>
    <meta http-equiv="refresh" content="3; URL='/Cardapio'"/>
