
<div class="row">

    <div class="col-sm-4 col-11  col-md-6 col-lg-4 bg-light p-3 rounded-2 shadow-sm" style="margin: 0 auto; max-width: 500px;">
        <form class="col-12 col-sm-" method="post" action="auth" style="width: 100%;">
            <div style="margin: 0 auto; display: flex; flex-direction: column; gap: 10px;">
                <i class="align-self-center bi-person-circle display-4"></i>
                <div class="input-group shadow-sm input-group-default">
                    <i class="input-group-text bi-person-fill border-right-0"></i>
                    <input class="form-control border-left-0" value="<%= Usuario?.Email %>" type="email" id="Email" name="Email" placeholder="e-mail" >
                </div>
                
                <div class="input-group shadow-sm input-group-default">
                    <i class="input-group-text bi-lock-fill border-right-0"></i>
                    <input class="form-control border-left-0" type="password" id="Password" name="Password" placeholder="senha" >
                </div>
                <button type="submit" class="btn bg-green">Logar</button>
            </div>
        </form>
        <a href="/Login/RecuperarSenha" class="text-danger">Esqueceu a senha?</a>
        
        <hr>
        <form class="col-12" action="auth/SemCadastro" method="post" style="width: 100%;">
            <div style="margin: 0 auto; display: flex; flex-direction: column; gap: 10px;">
                <input class="form-control w-100" type="text" id="Nome" name="Nome" minlength="6" required placeholder="nome completo">
                <button class="btn btn-danger w-100" type="submit">Fazer pedido sem cadastro</button>
            </div>
        </form>
        <hr>
        <div class="col">
            <a href="/Cadastrar" class="btn btn-primary" style="width: 100%;">cadastre-se</a>
        </div>
    </div>
</div>
