<div class="modal fade rounded-5" id="Modal" tabindex="-1" aria-labelledby="EditModalLabel" aria-hidden="true">
    <div class="modal-dialog">
            <form action="/Cardapio" method="get">
                <div class="modal-content">
                    <div class="modal-header  bg-orangered">
                    <h5 class="modal-title text-light" id="EditModalLabel">confirmado</h5>
                    <button type="button" class="btn-close bg-white p-1 rounded-circle" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <h4>Pedido confirmado</h4>
                    <br>
                    <h5>Tempo de espera: 40 min</h5>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Ok</button>
                </div>
            </div>
        </form>
    </div>
</div>